body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5C6BC0;
    /* Softer primary color */
    color: white;
    text-align: center;
    padding: 1em;
}

.social-icons a {
    color: white;
    margin: 0 8px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #B39DDB;
    /* Lighter color on hover */
}

.main-content {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
}

.about-me {
    flex: 1;
    padding: 20px;
    background-color: #EDE7F6;
    /* Softer background color */
    border-radius: 8px;
    transition: transform 0.3s;
}

.about-me:hover {
    transform: scale(1.02);
    /* Slightly zoom in on hover */
}

.profile-picture {
    border-radius: 50%;
    max-width: 100px;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.profile-picture:hover {
    transform: rotate(360deg);
}

.projects {
    flex: 2;
    padding: 20px;
}

.projects li {
    margin-bottom: 20px;
}

.projects a.btn-outline-primary {
    color: #5C6BC0;
    border-color: #5C6BC0;
    transition: background-color 0.3s, color 0.3s;
}

.projects a.btn-outline-primary:hover {
    background-color: #B39DDB;
    /* Lighter color on hover */
    color: white;
}

.nav-tabs .nav-item a.nav-link {
    color: #5C6BC0;
    transition: color 0.3s;
}

.nav-tabs .nav-item a.nav-link:hover {
    color: #B39DDB;
}

.icon-box {
    text-align: center;
    transition: transform 0.3s;
}

.icon-box img {
    max-width: 80px;
    border-radius: 50%;
}

.icon-box:hover {
    transform: scale(1.1);
}

.icon-box p {
    margin-top: 10px;
}